<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <h1>This is the Home Page!</h1>
    <form  action="{% url 'result' %}">
      {% csrf_token %}
      <input type="text" name="user_input">
      <input type="submit" value="Submit">
    </form>
    <button onclick="change()">Change</button>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
